$grip-handle-box-height: 15px;
$grip-handle-box-width: 15px;
$grip-handle-box-top: 16px;
$grip-handle-box-left: -7px;
$grip-handle-box-right: -8px;

.grip-box {
  // display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 100%;
  .grip-handle {
    z-index: $z-index + 98;
    &.pos-left {
      left: $grip-handle-box-left;
    }

    &.pos-right {
      left: $grip-handle-box-right;
    }
  }

  &.selected {
    .grip-handle {
      margin: 0;
      position: relative;
      top: $grip-handle-box-top;
      width: $grip-handle-box-width;
      height: $grip-handle-box-height;
      border-radius: 50%;
      background-color: $base-color;

      &:hover {
        outline: none;
        background-color: $base-color;

        .cursor {
          opacity: .3;
          transform: scale(1);
          background-color: $base-color;
        }
      }

      .cursor {
        background-color: $base-color;
        border-radius: 50%;
        ;
        height: 200%;
        left: -50%;
        opacity: 0;
        pointer-events: none;
        position: absolute;
        top: -50%;
        transform: scale(0);
        transition: all .2s ease-in;
        width: 200%;
      }
    }
  }

  &.disabled {
    .grip-handle {
      display: none;
    }
  }

}